# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_pd = pd.read_csv("output.csv")
cities_pd.head()

,City,ID,Lat,Long,Max Temp,Humidity,Cloudiness,Wind,Country,Date
0,atuona,4020109,-9.8000,-139.0333,79.29,77,22,18.81,PF,Wed Jun 23 18:37:31 2021
1,plettenberg bay,964712,-34.0527,23.3716,55.27,83,100,4.59,ZA,Wed Jun 23 18:37:31 2021
2,bonavista,5905393,48.6499,-53.1147,64.40,99,99,15.73,CA,Wed Jun 23 18:37:32 2021
3,namatanai,2090021,-3.6667,152.4333,84.25,70,100,3.65,PG,Wed Jun 23 18:37:32 2021
4,broken hill,2173911,-31.9500,141.4333,55.11,58,2,16.11,AU,Wed Jun 23 18:37:32 2021

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(g_key)

In [4]:
locations = cities_pd[["Lat", "Long"]].astype(float)
city_humidity = cities_pd["Humidity"].astype(float)

In [5]:
center_coord = (40.52,34.34)

fig = gmaps.figure(center=center_coord,zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=city_humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)



fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
cities_df = pd.DataFrame(cities_pd)
cities_df

,City,ID,Lat,Long,Max Temp,Humidity,Cloudiness,Wind,Country,Date
0,atuona,4020109,-9.8000,-139.0333,79.29,77,22,18.81,PF,Wed Jun 23 18:37:31 2021
1,plettenberg bay,964712,-34.0527,23.3716,55.27,83,100,4.59,ZA,Wed Jun 23 18:37:31 2021
2,bonavista,5905393,48.6499,-53.1147,64.40,99,99,15.73,CA,Wed Jun 23 18:37:32 2021
3,namatanai,2090021,-3.6667,152.4333,84.25,70,100,3.65,PG,Wed Jun 23 18:37:32 2021
4,broken hill,2173911,-31.9500,141.4333,55.11,58,2,16.11,AU,Wed Jun 23 18:37:32 2021
...,...,...,...,...,...,...,...,...,...,...
554,pemangkat,1631637,1.1667,108.9667,78.26,85,98,6.89,ID,Wed Jun 23 18:40:54 2021
555,bentiu,377472,9.2333,29.8333,72.09,81,38,5.30,SS,Wed Jun 23 18:40:55 2021
556,chanika,160592,-5.4167,38.0167,59.13,98,67,2.95,TZ,Wed Jun 23 18:40:55 2021
557,chuguyevka,2025286,44.1653,133.8633,79.27,42,11,3.87,RU,Wed Jun 23 18:40:56 2021
558,coari,3664539,-4.0850,-63.1414,74.07,86,32,2.53,BR,Wed Jun 23 18:40:56 2021

In [7]:
# Ideal weather conditions: 75-85F, Wind Speed 5-25mph, humidity 10-60%

cities_ideal = cities_df[(cities_df['Max Temp'] < 82) & 
            (cities_df['Wind'] >= 5) & (cities_df['Wind'] <= 25) & 
            (cities_df['Humidity'] >= 15) & (cities_df['Humidity'] <= 55)]

cities_ideal_df = pd.DataFrame(cities_ideal)
cities_ideal_df.dropna(inplace=True)
print(len(cities_ideal_df))

47

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
cities_ideal_df=cities_ideal_df.drop(columns=["Date","ID"])
cities_ideal_df["Hotel Name"] = ""

In [9]:
print(cities_ideal_df)

                    City      Lat      Long  Max Temp  Humidity  Cloudiness  \
40           yellowknife  62.4560 -114.3525     59.56        33          20
68             kununurra -15.7667  128.7333     75.18        50          90
70             saskylakh  71.9167  114.0833     55.49        39          14
72             shelburne  44.0787  -80.2041     66.69        50          78
89          port hedland -20.3167  118.5667     59.05        51          62
112                dukat  62.5500  155.5500     57.87        37         100
123              birjand  32.8663   59.2211     59.47        20           0
158             cherskiy  68.7500  161.3000     66.36        27           5
159                korla  41.7597   86.1469     75.49        30           0
183            tilichiki  60.4667  166.1000     65.73        45          14
185                macon  39.8667  -88.9668     78.55        44           1
217            flin flon  54.7682 -101.8650     64.94        36         100
235              isangel -19.5500  169.2667     80.71        54          75
254               hailar  49.2000  119.7000     76.89        44           0
260              aklavik  68.2191 -135.0107     81.32        32          41
264              svitavy  49.7559   16.4683     66.36        55          78
265         umm kaddadah  13.6017   26.6876     81.19        46         100
281                asyut  27.1810   31.1837     78.98        39           0
283              agirish  61.9247   63.0231     53.13        49         100
290         komsomolskiy  40.4272   71.7189     74.12        28           0
301           susanville  40.4163 -120.6530     77.81        42           1
306                 luau -10.7073   22.2247     55.51        46           9
320      haines junction  60.7522 -137.5108     66.15        34         100
321              dunedin -45.8742  170.5036     54.81        49         100
341               hailun  47.4500  126.9333     81.14        37          78
355               urumqi  43.8010   87.6005     65.35        40           0
369           baker city  44.7749 -117.8344     78.51        44          20
396               shache  38.4167   77.2406     77.43        17          62
403            carnarvon -24.8667  113.6333     51.87        48           0
420               kaliua  -5.0606   31.7936     67.41        49         100
424                 elat  29.5581   34.9482     80.44        44           0
427      fort-shevchenko  44.5086   50.2630     81.90        29           0
433             karratha -20.7377  116.8463     63.03        36          33
443            roebourne -20.7833  117.1333     62.85        37          31
454              chifeng  42.2683  118.9636     76.66        50         100
457             udachnyy  66.4167  112.4000     66.29        54          27
469        santa barbara  34.7333 -120.0343     69.22        55           1
496             vilyuysk  63.7553  121.6247     78.84        50          52
498                 faya  18.3851   42.4509     69.91        17         100
506                rawah  34.4816   41.9093     80.94        29           0
513             la ronge  55.1001 -105.2842     66.45        37          90
519             smithers  54.7804 -127.1743     68.32        52          90
520        chatellerault  46.8000    0.5333     59.72        49          99
526                 poya -21.3500  165.1500     76.24        46          33
527          verkhoyansk  67.5447  133.3850     74.44        36          98
532               vostok  46.4856  135.8833     74.30        43          56
549  adolfo lopez mateos  28.4667 -107.3000     79.93        35          54

      Wind Country Hotel Name
40   14.97      CA
68   11.50      AU
70   10.29      RU
72   12.15      CA
89   13.80      AU
112   5.57      RU
123   6.91      IR
158   7.18      RU
159  15.05      CN
183   6.91      RU
185  13.80      US
217  13.20      CA
235  17.27      VU
254   5.75      CN
260   5.75      CA
264   7.74      CZ
265   8.52      SD
281  10.65      EG
283   5.61      RU
290   6.91      UZ
301  12.66      US
306   5.17      AO
320  10.36      CA
321  10.00      NZ
341   9.57      CN
355   8.95      CN
369   6.91      US
396   6.64      CN
403  13.80      AU
420   5.23      TZ
424  13.80      IL
427  11.88      KZ
433  21.85      AU
443  22.32      AU
454   7.63      CN
457  12.66      RU
469  16.11      US
496   8.01      RU
498   5.84      SA
506   8.23      IQ
513  11.50      CA
519  13.80      CA
520   6.08      FR
526   9.35      NC
527  13.31      RU
532  10.13      RU
549   7.02      MX

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure